@font-face {
    font-family: "Zenzai Itacha";
    src: url("../fonts/Zenzai-Itacha.ttf");
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

header {
    background-color: red;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: "Zenzai Itacha";
    font-size: 40px;
}

nav {
    padding: 10px 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}